body {
margin: 0%;
padding: 0%;
}
th, .end {
    background-color: #2862ce;
    padding: 20px;
    color: white;
}
tr:nth-child(odd) {
    background-color: #eef7ff;
}
tr {
    border-bottom: 2px solid #c4dcf3;
}
td {
    font-size: large;
    font-family: 'Courier New';
    padding: 20px;
    color: rgb(39, 2, 2);
}
.end td {
    color: white;
}
table {
    border-collapse: collapse;
}
form {
    border: 2px solid #ccc;
    background-color: #f2f2f2;
    padding: 20px;
}
.form {
    font-size: large;
    font-family: 'Courier New';
    width: 50%;
    margin-top: 10px;
}
.form input,  select {
    font-size: large;
    font-family: 'Courier New';
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #2862ce;
    color: white;
}
.form input[type="submit"]:active {
    background-color: #0558f4;
    color: white;
    scale: 1.009;
}
.form input[type="submit"]:hover {
    cursor: pointer;
}