body {
margin: 0%;
padding: 0%;
}
th, .end {
    background-color: #2862ce;
}
tr:nth-child(odd) {
    background-color: #eef7ff;
}
tr {
    border-bottom: 2px solid #c4dcf3;
}
td {
    font-size: large;
    font-family: 'Courier New';
    padding: 20px;
    color: rgb(39, 2, 2);
}
table {
    border-collapse: collapse;
}
form {
    border: 2px solid #ccc;
    background-color: #f2f2f2;
    padding: 20px;
}
.form {
    width: 50%;
}
.form input,  select {
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgba(8, 36, 129, 0.5), rgba(9, 130, 243, 0.5));
}
